{% extends 'base.html' %}
{% block content %}


<form action="/submit" method="post">
  <input type="url" name="url" />
</form>

{% include 'messages.html' %}


<h2>Existing feeds</h2>

<ul class="feeds" id="feeds">
{% if user_feeds %}
{% for feed in user_feeds %}

<li>
  <form action="/delete-feed" method="POST">
    <a href="{{ feed.url }}">{{ feed.url }}</a> - {{ feed.author }}
    <input type="text" class="none" name="feed-id" value="{{ feed.id }}" />
    <button class="feed-delete">Delete feed</button>
  </form>
</li>

{% endfor %}

{% else %}

<p>No feeds, you might want to add some</p>

{% endif %}

</ul>

{% endblock %}
