{% extends "base.html" %}
{% block content %}
  {% if current_user.is_authenticated %}
    <h2>
    Hey, {{ current_user.username }}, here's your news:
    </h2>
    {% endif %}

      {% if user_feeds %}
    <ul>
        
        {% for f in user_feeds %}

        <li><a href="/feeds/{{ f.id }}">{{ f.description }}</a> ({{ f.count }})</li>

        {% endfor %}
    </ul>

        {% else %}

        <p>No articles yet, try adding some <a href="/feeds">feeds</a></p>

      {% endif %}

{% endblock %}
